:root {
  /* color */
  --color-lig-black: #191919;
  --color-black: #000;
  --color-gray: #eee;
  --color-white: #fff;
  --color-mid-gray: #ccc;
  --color-middk-gray: #aaa;
  --color-light-gray: #e6e6e6;
}
/* header */
.header {
  position: relative;
  background-color: #fff;
  z-index: 2;
}
.header-wrap {
  position: relative;
  margin: 0 auto;
  height: 78px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
}
.select-language {
  position: relative;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  width: 25%;
  text-align: left;
  padding-top: 16px;
}
h1.logo {
  align-self: center;
  color: transparent;
}
h1.logo img {
  width: 165px;
}
.header-link {
  width: 25%;
  padding-top: 16px;
  text-align: right;
}
.select-language .t-lang i {
  position: absolute;
  left: 80px;
  top: 16px;
}
.select-language .t-lang i.icon-angle-up {
  opacity: 0;
}

.select-lang-list {
  position: absolute;
  top: 36px;
  left: 0;
  padding: 12px 0;
  border: 1px solid var(--color-lig-black);
  background-color: var(--color-white);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 3;
  visibility: hidden;
  border: 0.85px solid var(--color-black);
}
/* nav.js */
.select-language.show .select-lang-list {
  visibility: visible;
}
.select-language.show .t-lang i.icon-angle-up {
  opacity: 1;
}
.select-language.show .t-lang i.icon-angle-down {
  opacity: 0;
}

.select-lang-list a {
  display: block;
  padding: 6px 21px 4px 18px;
  text-transform: uppercase;
}
.select-lang-list li:nth-child(1) a {
  background-color: var(--color-gray);
}
.select-lang-list a:focus,
.select-lang-list a:hover {
  color: var(--color-black);
  background-color: var(--color-gray);
}
.header-link > a {
  display: inline-block;
  margin: 0 0.2em;
  padding: 1px 8px 0 10px;
  font-size: 11px;
  position: relative;
}
.header-link > a:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 4px;
  right: -4px;
  width: 1.5px;
  height: 12px;
  background-color: var(--color-gray);
}

.header-link > a:nth-child(3):after {
  display: none;
}
.search-container {
  position: absolute;
  top: calc(50% - 20px);
  right: 100px;
  padding-bottom: 5px;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.search-container.show {
  width: 300px;
  opacity: 1;
  visibility: visible;
}
.search-wrap {
  border: 1px solid var(--color-dark-gray);
}
.search-wrap input.text {
  height: 48px;
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
}
.search-wrap .submit {
  position: absolute;
  top: -3px;
  right: -17px;
  font-size: 24px;
  color: var(--color-middk-gray);
}
.sch-close {
  position: absolute;
  top: -3px;
  right: -60px;
}
/* gnb */
.gnb {
  height: 30px;
}
.gnb .header-wrap {
  height: 100%;
}
.gnb-menu {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.4rem;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}
.gnb-menu.Active {
  border-bottom: 1px solid var(--color-middk-gray);
}
.nav-menu-a {
  display: block;
  padding: 5px 20px 10px;
}
.sub-menu {
  position: absolute;
  height: 35px;
  width: 100%;
  left: 0;
  z-index: 1;
  top: -100%;
  opacity: 1;
  transition: all 0.5s;
  background-color: var(--color-white);
}
.sub-menu.On {
  top: 108px;
}
.sub-menu li.nav-sub-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.sub-menu li.nav-sub-box.Over {
  opacity: 1;
}
.nav-sub-a {
  font-size: 13px;
  padding: 0 20px;
}
/* visual */
.visual {
  max-width: 1920px;
  margin: auto;
  position: relative;
  z-index: 0;
}
.visual-wrap {
  position: relative;
  background-color: gray;
  height: 550px;
}
.visual-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  opacity: 0;
  transition: all 1s;
}
.visual-slide.On {
  opacity: 1;
}
.visual-slide:nth-child(01) {
  background-image: url(/img/visu_pc_01.jpg);
}
.visual-slide:nth-child(02) {
  background-image: url(/img/visu_pc_02.jpg);
}
.visual-slide:nth-child(03) {
  background-image: url(/img/visu_pc_03.jpg);
}

.visual-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  opacity: 0;
  height: 100%;
  transition: all 1s ease-out;
  transition-delay: 0.3s;
}
.visual-slide.On .visual-side {
  width: 44%;
  opacity: 1;
}

.visual-slide:nth-child(1) .visual-side {
  background-color: rgba(237, 185, 46, 0.3);
}
.visual-slide:nth-child(2) .visual-side {
  background-color: rgba(164, 105, 53, 0.5);
}
.visual-slide:nth-child(3) .visual-side {
  background-color: rgba(140, 171, 217, 0.5);
}
.visual-txt-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 44%;
  height: 100%;
  opacity: 0;
  transition: all 2s;
  transition-delay: 1s;
}
.visual-slide.On .visual-side + .visual-txt-wrap {
  opacity: 1;
}
.visual-txt-cont {
  width: 415px;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.visual-tit {
  font-size: 42px;
  line-height: 54px;
}
.visual-txt-01 {
  font-size: 18px;
}
.visual-txt-02 {
  font-size: 20px;
  margin: 45px 0 0;
  text-align: end;
}
.visual-btn-wrap {
  margin: 30px 0 0;
}
.visual-btn-wrap .btn-view {
  display: inline-block;
  width: 132px;
  height: 38px;
  border: 1px solid var(--color-white);
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  color: var(--color-white);
}
.visual-arrow {
  position: absolute;
  top: calc(50% - 29px);
  z-index: 2;
  width: 30px;
  height: 58px;
  text-indent: -99999px;
  background-repeat: no-repeat;
  background-position: center;
}
.visual-arrow.right {
  right: 20px;
  background-image: url(/img/main-kv-arr-r.png);
}
.visual-arrow.left {
  left: 20px;
  background-image: url(/img/main-kv-arr-l.png);
}
.visual-btm-wrap {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 40px;
  text-align: center;
}
.visual-btm-wrap li {
  display: inline-block;
  padding: 0 5px;
}
.visual-btm-wrap .visual-btm-list a {
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  display: block;
  border-radius: 5px;
  text-indent: -99999px;
  transition: all 0.5s;
}
.visual-btm-wrap .visual-btm-list.Active a {
  width: 25px;
}
.visual-btm-wrap .controls-wrap .control {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  position: absolute;
  text-indent: -9999px;
  top: -4px;
}
.visual-btm-wrap .controls-wrap .start {
  background-image: url(/img/btn-play-pc.png);
  display: none;
}
.visual-btm-wrap .controls-wrap .stop {
  background-image: url(/img/btn-stop-pc.png);
}
/* content */
.content {
  width: 1440px;
  margin: auto;
}
.recommend {
  margin-top: 120px;
}
h2.cont-title {
  padding-bottom: 30px;
  color: var(--color-black);
  font-weight: normal;
  font-size: 28px;
  text-align: center;
}
.recomm-tab {
  width: 762px;
  height: 42px;
  margin: 0 auto 25px;
  display: flex;
}
.recomm-tab .btn-tab {
  width: calc(100% / 3);
  text-align: center;
  font-size: 17px;
  line-height: 42px;
  border-bottom: 2px solid var(--color-light-gray);
}
.recomm-tab .btn-tab.On {
  color: #b17c5c;
  font-weight: bold;
  border-bottom: 2px solid #b17c5c;
}
.recomm-list-wrap {
  height: 434px;
}
.recomm-list {
  display: none;
}
.recomm-list.Act {
  display: flex;
}
/* 질문 */
.recomm-list li {
  width: 25%;
  position: relative;
  padding: 34px 35px 0;
}
.recomm-img img {
  width: 290px;
}
.recomm-name {
  padding: 0 0 25px;
  color: #333;
  font-size: 18px;
  letter-spacing: -0.1em;
  text-align: center;
}
.buy-view-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.recomm-list li:hover .buy-view-layer {
  opacity: 1;
}
.buy-view-layer .btn-view {
  display: block;
  width: 178px;
  height: 38px;
  border: 1px solid #555;
  background-color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  text-align: center;
}
/* lounge */
.lounge {
  margin-top: 70px;
  padding: 0 90px;
  height: 590px;
}
.lounge-cont {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.lounge-txt-wrap {
  width: calc(100% - 650px);
}
.lounge-txt-wrap h3 {
  border-bottom: 1px solid #c3bdb6;
  color: #6a481b;
  font-size: 1.85vw;
}
.lounge-txt-wrap .sub-tit {
  margin: 40px 0 0;
  color: var(--color-black);
  font-size: 46px;
  line-height: 65px;
}
.lounge-txt-wrap .desc-txt {
  margin: 16px 0 54px;
  color: #333;
  font-size: 20px;
  line-height: 32px;
}
.lounge-txt-wrap .btn-view {
  display: inline-block;
  height: 38px;
  font-size: 15px;
  border: 1px solid var(--color-lig-black);
  padding: 0 44px;
  line-height: 36px;
  color: #555;
}
.lounge.lou02 .lounge-img {
  order: 2;
}
/* flagship */
.flag-ship {
  margin: 120px 0 112px;
}
.flag-wrap {
  height: 400px;
  position: relative;
}
.flag-slider {
  width: 100%;
  z-index: 0;
  position: relative;
}
.flag-slider li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  text-indent: -9999px;
}
.flag-slider li.fl-01 {
  background-image: url(img/flag-bg-px-01.jpg);
}
