@media screen and (max-width: 1439px) {
  body {
    overflow-x: hidden;
  }
  .visual-arrow {
    top: calc(50% - 2.0139vw);
    width: 2.0833vw;
    height: 2.0833vw;
  }
  .visual-wrap {
    height: 38.1944vw;
  }
  .visual-btm-wrap {
    bottom: 2.7778vw;
  }
  .visual-btm-wrap .visual-btm-list a {
    width: 0.6944vw;
    height: 0.6944vw;
  }
  .visual-btm-wrap .visual-btm-list.Active a {
    width: 1.7361vw;
  }
  .content {
    width: auto;
  }
  .recommend {
    margin-top: 8.3333vw;
  }
  .recomm-tab {
    margin-bottom: 1.7361vw;
  }
  .recomm-list-wrap {
    height: auto;
  }
  .recomm-img img {
    width: auto;
    height: 20.1389;
  }
  .lounge {
    margin-top: 4.8611vw;
    padding: 0 6.25vw;
    height: 40.9722vw;
  }
  .lounge-img {
    width: 40.9722vw;
  }
  .lounge-img img {
    width: 100%;
  }
  .lounge-txt-wrap {
    width: calc(100% - 45.1389vw);
  }
  .lounge-txt-wrap .sub-tit {
    margin: 2.7778vw 0 0;
    font-size: 3.1944vw;
    line-height: 4.5139vw;
  }
  .lounge-txt-wrap .desc-txt {
    margin: 1.1111vw 0 3.75vw;
    font-size: 1.3889vw;
    line-height: 2.2222vw;
  }
  .lounge .btn-view {
    height: 2.6389vw;
    padding: 0 3.0556vw;
    line-height: 2.5vw;
    font-size: 1.0417vw;
  }
  .flag-wrap {
    height: 27.7778vw;
  }
  .flag-ship {
    margin: 8.3333vw 0 8.3333vw;
  }
  .flag-txt-wrap {
    left: 50vw;
    width: 25.2778vw;
  }
  .flag-txt-wrap p {
    font-size: 1.25vw;
    line-height: 2.0833vw;
  }
  .flag-txt-wrap .btn-view {
    margin-top: 3.75vw;
    height: 2.6388vw;
    padding: 0 3.0555vw;
    font-size: 1.0416vw;
    line-height: 2.6388vw;
  }
  .flag-btn-wrap {
    margin: 2.0833vw;
  }
  .flag-btn-wrap li a {
    width: 0.6944vw;
    height: 0.6944vw;
  }
  .flag-side {
    top: calc(50% - 2.7778vw);
    width: 3.125vw;
    height: 5.4861vw;
    background-size: cover;
  }
}

@media screen and (max-width: 999px) {
  .select-language {
    display: none;
  }
  .header-link > a:not(.h-open-search) {
    display: none;
  }
  .gnb {
    display: none;
  }
  .header-wrap {
    justify-content: center;
    height: 60px;
  }
  h1.logo img {
    width: 140px;
  }
  .header-link {
    width: auto;
  }
  .header-link > a.h-open-search {
    position: absolute;
    right: 20px;
    top: 12px;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  .mov-nav-btn {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
  }
  .mov-nav-btn i {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #767676;
  }
  .mov-nav-btn i::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #767676;
    top: 6px;
  }
  .mov-nav-btn i::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #767676;
    top: 12px;
  }

  /* nav */
  .mob-nav-wrap {
    min-width: 265px;
  }
  .mob-nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    background-color: #363636;
    height: 100%;
    overflow: hidden;
    transition: all 0.85s;
  }

  .mob-nav .bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.308);
    transition: all 1s;
    z-index: -1;
  }
  .mob-nav.show {
    display: block;
    width: 265px;
  }
  .mob-nav.show .bg {
    width: 100%;
    opacity: 1;
  }
  .sidenav-h {
    text-align: center;
    padding: 13px 0 12px;
  }
  .sidenav-h img {
    width: 100px;
  }
  .m-nav-list {
    border-top: 1px solid #494949;
  }
  .m-nav-list li > a {
    display: block;
    position: relative;
    font-size: 15px;
    padding: 12px 0 12px 15px;
    border-bottom: 1px solid #494949;
    color: #d5d5d5;
    font-weight: bold;
    cursor: pointer;
    min-width: 265px;
  }
  .m-nav-list li > a.m-nav-list-tit.On {
    background-color: #1d1d1d;
  }
  .m-nav-list .icon-nav {
    position: absolute;
    right: 15px;
    width: 14px;
    height: 14px;
    top: calc(50% - 7px);
    display: block;
  }
  .m-nav-list .icon-nav::before {
    display: block;
    position: absolute;
    content: "";
    left: -3px;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    background-color: #555;
  }
  .m-nav-list .icon-nav::after {
    display: block;
    position: absolute;
    content: "";
    left: 0px;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    background-color: #555;
    transform: rotate(90deg);
    transition: all 0.5s;
  }

  .blind {
    opacity: 0;
    display: none;
  }
  .m-nav-list li > a.m-nav-list-tit.On .icon-nav::after {
    transform: rotate(0deg);
  }
  .m-nav-list li > dl {
    display: none;
  }

  .m-nav-list li > dl > dd {
    border-bottom: 1px solid #414141;
    line-height: 1.6;
  }
  .m-nav-list li dl dd a {
    display: block;
    color: #999;
    padding: 12px 0px 12px 30px;
    font-size: 15px;
  }
  .m-nav-btm {
    padding: 50px 0 55px 10px;
    font-size: 12px;
    color: var();
    line-height: 1.8;
  }
  .m-nav-cp p a {
    display: inline-block;
    color: #767676;
  }
  .m-nav-cp p a + a {
    padding-left: 7px;
    margin-left: 3px;
    border-left: 1px solid #4f4f4f;
  }
  #main.On {
    filter: blur(10px);
  }
  .search-container {
    transition: none;
  }
  .search-container.show {
    width: 100%;
    transition: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: white;
  }
  .search-wrap input.text {
    height: 40px;
    padding: 0 12px;
  }
  .h-open-search .icon-search {
    position: relative;
    top: 0px;
    right: 10px;
  }
  .search-wrap .icon-search {
    position: relative;
    top: 6px;
    right: 10px;
  }
  .visual-txt-cont {
    width: 28.8194vw;
  }
  .visual-tit {
    font-size: 2.9167vw;
  }
  .visual-txt-01 {
    font-size: 1.25vw;
  }
  .visual-txt-02 {
    margin: 3.125vw 0 0;
    font-size: 1.3889vw;
  }
  .visual-btn-wrap {
    margin: 2.0833vw 0 0;
  }
  .visual-tit {
    line-height: 3.75vw;
  }
  .visual-btn-wrap .btn-view {
    width: 9.1667vw;
    height: 2.6389vw;
    font-size: 1.0417vw;
    line-height: 2.4306vw;
  }
  .visual-btm-wrap li {
    padding: 0 0.3472vw;
  }
  .visual-btm-wrap .controls-wrap .control {
    width: 0.6944vw;
    height: 0.6944vw;
  }
}
